* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #264653;
}

.container{
    background-color: #2a9d8f;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 50vh;
    min-width: 45vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form select,
button,
input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgreen;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.amount{
   margin-bottom: 1rem;
}

.dropdowm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.icon{
    align-items: center;
    padding-top: 1rem;
    font-size: 1rem
}

.select-container img{
    max-width: 1.75rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6rem;
    border-radius: 0.5rem;
    /* border: 1px solid lightgreen; */
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0 2rem 0;
}
.btn{
    height: 2rem;
    background-color: #8d99ae;
    font-weight: bold;
    cursor: pointer;  
}